body{
  font-family: "Arial";
  text-align: center;
  margin: 2%;
  color: black;
  background-image: url("bg2.jpg");
  background-size: cover;
}

.title{
  margin-left: 41%;
  margin-top: 6%;
  width: 20%;
}

.welcome{
  border: none;
  background-color: white;
  border-radius: 80%;
  width: 40%;
  margin-left: 30%;
  height: 7%;
}

.welcome h2{
  padding: 1%;
}

.loginBox form{
  width: 35%;
  height: 100%;
  position: fixed;
  top: 33%;
  left: 33%;
}

.inputBox{
  width: 70%;
  height: 5%;
  border: none;
  background-color: #F5F5F5;
  border-radius: 5px;
}

.submitBox:hover{
  background-color: #F0C95D;
}

.submitBox{
  border: none;
  border-radius: 17px;
  background-color: #E1BD5F;
}

.loginBox .submitBox{
  width: 70%;
  height: 5%;
}

.signupBox form{
  width: 60%;
  height: 100%;
  margin-left: 20%;
}

.signupBox .inputBox{
  width: 35%;
  height: 5%;
  border: none;
  border-radius: 5px;
}

.signupBox .checkBox{
  float: left;
}

.signupBox .submitBox{
  width: 35%;
  height: 5%;
}

.loginBox a:link{
  color: black;
}

fieldset{
  border: 2px solid #DFDFDF;
  border-radius: 5px;
  background-color: #FFF9EF;
  box-shadow: 10px 15px 8px #888888;
}

legend{
  background-color: white;
  border: 2px outset gray;
  border-radius: 6px;
  padding: 0.2em;
  margin-right: 60%;
}

.logout{
  position: absolute;
  top: 16px;
  right: 16px;
}

.logoutButton{
  border-radius: 17px;
  background-color: #E1AB18;
}

.logoutButton:hover{
  background-color: #F0C95D;
}
  
legend{
  display: flex;
  right: 3;
}

label{
  font-weight: bold;
  margin: 1%;
}

input{
  margin: 1%;
}

.requestBox{
  float: right;
  margin-right: 5%;
  margin-top: 15%;
}

.calendar{
  width: 75%;
  float: left;
  margin-top: 8%;
}

.inCalendar{
  border: black solid;
  height: 60%;
}

.navigation{
  right: 6%;
  top: 45%;
  position: fixed;
}

.navigation ul{
  list-style-type: none;
}

.navigation li{
  border: solid #E1AB18;
  margin: 3%;
  background-color: #E1AB18;
  color: white;
  padding: 5%;
}

.navigation a:link, a:visited{
  color: black;
  text-decoration: none;
}

.navigation li:hover{
  background-color: #F0C95D;
}

.staffContainer{
  float: left;
  margin-left: 15%;

}

.staff {
  display: flex;
  align-items: center;
}

.staff img{
  width: 20%;
  margin-right: 10%;
}

.info{
  padding: 2%;
  text-align: left;
}

.removeStaff{
  width: 20%;
  position: fixed;
  right: 3%;
  top: 25%;
}

.removeStaff .submitBox{
  margin-top: 5%;
  width: 35%;
  height: 5%;
}

.shiftChange{
  width: 50%;
}

.changeFrom{
  font-size: 8pt;
  float: left;
  margin-left: 14%
}

.changeTo{
  font-size: 8pt;
  float: left;
  margin-left: 4%;
}

.staff-window{
  width: max-content;
  height: max-content;
}
.staff-row::after{content: ""; display: table; clear: both;}
.staff-column{float: left; width:25%;}
table , th ,td ,tr{
  border: 1px solid white ;
  border-collapse: collapse;
  border-radius: 10px;
}
th ,td ,tr{
  background-color: #96d4d4;
}
table{
  width: fit-content;
}

.availability form{
  width: 80%;
  margin-left: 10%;
}