<html>
    <head>
        <title> Change Availability</title>
        <link rel = "stylesheet" href = "{{ url_for('static', filename = 'style.css') }}">
    </head>
    <body>
          <h1> Availability: </h1>
          <form method = "POST" action = "/changeAvailability" onSubmit = "return validateForm();">
          <input type = "checkbox" id = "Monday" name = "availability" value = "Monday Morning">
          <label for = "Monday Morning"> Monday Morning</label>
          <input type = "checkbox" id = "Monday" name = "availability" value = "Monday Night">
          <label for = "Monday Night"> Monday Night</label> <br>

          <input type = "checkbox" id = "Tuesday" name = "availability" value = "Tuesday Morning">
          <label for = "Tuesday Morning"> Tuesday Morning</label>
          <input type = "checkbox" id = "Tuesday" name = "availability" value = "Tuesday Night">
          <label for = "Tuesday Night"> Tuesday Night</label> <br>

          <input type = "checkbox" id = "Wednesday" name = "availability" value = "Wednesday Morning">
          <label for = "Wednesday Morning"> Wednesday Morning</label>
          <input type = "checkbox" id = "Wednesday" name = "availability" value = "Wednesday Night">
          <label for = "Wednesday Night"> Wednesday Night</label> <br>

          <input type = "checkbox" id = "Thursday" name = "availability" value = "Thursday Morning">
          <label for = "Thursday Morning"> Thursday Morning</label>
          <input type = "checkbox" id = "Thursday" name = "availability" value = "Thursday Night">
          <label for = "Thursday Night"> Thursday Night</label> <br>

          <input type = "checkbox" id = "Friday" name = "availability" value = "Friday Morning">
          <label for = "Friday Morning"> Friday Morning</label>
          <input type = "checkbox" id = "Friday" name = "availability" value = "Friday Night">
          <label for = "Friday Night"> Friday Night</label> <br>

          <input type = "checkbox" id = "Saturday" name = "availability" value = "Saturday Morning">
          <label for = "Saturday Morning"> Saturday Morning</label>
          <input type = "checkbox" id = "Saturday" name = "availability" value = "Saturday Night">
          <label for = "Saturday Night"> Saturday Night</label> <br>

          <input type = "checkbox" id = "Sunday" name = "availability" value = "Sunday Morning">
          <label for = "Sunday Morning"> Sunday Morning</label>
          <input type = "checkbox" id = "Sunday" name = "availability" value = "Sunday Night">
          <label for = "Sunday Night"> Sunday Night</label> <br>

          <input type = "submit" value = "Submit">
        </form>
    </body>
</html>
