<html>

<head>
  <title> Log In Page</title>
  <link rel="stylesheet" href="{{ url_for('static', filename = 'style.css') }}">
  <style>
    body {
      background-image: url("/static/bg.jpg");
      background-size: cover;
    }
  </style>
</head>

<body>
  <div class="title">
    <h1> BarHop </h1>
  </div>
  <div class="loginBox">
    <form method="POST" action="/login" onSubmit="return validateForm();">
      <fieldset>
        <legend> Log In</legend> <br>
        <label for="email"> Email </label> <br>
        <input type="email" name="email" placeholder="Enter your email" class="inputBox"> <br> <br>
        <label for="password"> Password </label> <br>
        <input type="password" name="password" placeholder="Enter your password" class="inputBox"> <br> <br>
        <input type="submit" value="LogIn" class="submitBox"> <br> <br>

        <a href="{{ url_for('signup') }}"> Don't have an account yet? </a>
      </fieldset>
    </form>
  </div>
</body>

{% if error %}
<p class="error"><strong>Error:</strong> {{ error }}
  {% endif %}

</html>