<html>
  <head>
    <title> Shift Change Requested Page</title>
    <link rel = "stylesheet" href = "{{ url_for('static', filename = 'style.css') }}">
  </head>

  <body>
    <h1> SHIFT CHANGE </h1>

    <form class="logout" action="/logout">
      <input type="submit" value="LOGOUT" class = "logoutButton">
    </form>

    <div class = "shiftChange"> 
      <div class = "staff">
        <img src = "/static/user.png" width = 10%>
        <img src = "/static/rightArrow.png" width = 5%>
        <img src = "/static/user.png" width = 10%>
        <b> Date & Time: </b>
        11/4/21 8:00 PM
        <input type = "button" value = "Accept">
        <input type = "button" value = "Reject">
      </div>
      <div class = changeFrom>
        <b> From: </b> <br>
        Name: John Doe <br>
        Email: jdoe@email.com <br>
      </div>
      <div class = changeTo>
        <b> To: </b> <br>
        Name: Test Doe <br>
        Email: tdoe@email.com <br>
      </div>
      <div class = "navigation">
        <ul>
          <li> <a href = "{{ url_for('main') }}"> Main </a> </li>
          <li> <a href = "{{ url_for('staffInfo') }}"> Staff Information </a> </li>
          <li> <a href = "{{ url_for('shiftChange') }}"> Shift Change Requests </a> </li>
          <li> <a href = "{{ url_for('calendar') }}"> Calendar </a> </li>
      </div>
    </div>
  </body>
</html>
