<html>

<head>
  <title> Sign Up Page</title>
  <link rel="stylesheet" href="{{ url_for('static', filename = 'style.css') }}">
  <style>
    body {
      background-image: url("/static/bg.jpg");
      background-size: cover;
    }
  </style>
</head>

<body>
  <h1> Sign Up! </h1>
  <div class="signupBox">
    <form method="POST" action="/signup" onSubmit="return validateForm();">
      <fieldset>
        <legend> Sign Up </legend> <br>
        <label for="name"> Name </label> <br>
        <input type="text" name="firstName" placeholder="Enter your First name" class="inputBox"> <br>
        <input type="text" name="lastName" placeholder="Enter your Last name" class="inputBox"> <br> <br>

        <label for="email"> Email </label> <br>
        <input type="email" name="email" placeholder="Enter your email" class="inputBox"> <br> <br>

        <label> Availability </label> <br> <br>
        <input type="checkbox" name="mon_am" value=True>
        <label for="Monday Morning"> Monday Morning</label>
        <input type="checkbox" name="mon_pm" value=True>
        <label for="Monday Night"> Monday Night</label> <br>

        <input type="checkbox" name="tues_am" value=True>
        <label for="Tuesday Morning"> Tuesday Morning</label>
        <input type="checkbox" name="tues_pm" value=True>
        <label for="Tuesday Night"> Tuesday Night</label> <br>

        <input type="checkbox" name="wed_am" value=True>
        <label for="Wednesday Morning"> Wednesday Morning</label>
        <input type="checkbox" name="wed_pm" value=True>
        <label for="Wednesday Night"> Wednesday Night</label> <br>

        <input type="checkbox" name="thurs_am" value=True>
        <label for="Thursday Morning"> Thursday Morning</label>
        <input type="checkbox" name="thurs_pm" value=True>
        <label for="Thursday Night"> Thursday Night</label> <br>

        <input type="checkbox" name="fri_am" value=True>
        <label for="Friday Morning"> Friday Morning</label>
        <input type="checkbox" name="fri_pm" value=True>
        <label for="Friday Night"> Friday Night</label> <br>

        <input type="checkbox" name="sat_am" value=True>
        <label for="Saturday Morning"> Saturday Morning</label>
        <input type="checkbox" name="sat_pm" value=True>
        <label for="Saturday Night"> Saturday Night</label> <br>

        <input type="checkbox" name="sun_am" value=True>
        <label for="Sunday Morning"> Sunday Morning</label>
        <input type="checkbox" name="sun_am" value=True>
        <label for="Sunday Night"> Sunday Night</label> <br> <br>

        <input type="submit" value="SignUp" class="submitBox">
      </fieldset>
    </form>
    <br> <br>
  </div>
</body>

</html>