<html>
<head>
  <title> Staff Main View </title>
  <link rel="stylesheet" href="{{ url_for('static', filename = 'style.css') }}">
</head>

<body>
  <div>
    <h2> Welcome, {{name}}</h2>

    <form class="logout" action="/logout">
      <input type="submit" value="LOGOUT">
    </form>
  </div>
  <div class="requestBox">
      <h4> Availability </h4>
        {% for days in availability %}
            {{days}} <br>
        {% endfor %} <br>
        <b> <a href = "{{ url_for('changeAvailability')}}"> Edit Availability </a> </b>
    </div>
  </div>

  <div class="calendar">
    <h3> November </h3>
    <div class="inCalendar">
      <h3> Calendar </h3>
    </div>
  </div>

</body>

</html>