<html>

<head>
  <title> Staff Information Page</title>
  <link rel="stylesheet" href="{{ url_for('static', filename = 'style.css') }}">
</head>

<body>
  <h1> STAFF INFO </h1>

  <form class="logout" action="/logout">
    <input type="submit" value="LOGOUT" class="logoutButton">
  </form>

  <div class="staffContainer">
    {% for i in range(length) %}
    <div class="staff">
      <img src="/static/user.png">
      <div class=info>
        Name: {{first_name_list[i]}} {{last_name_list[i]}}<br>
        Email: {{email_list[i]}} <br>
        {% if email_list[i] == "a10@a" %}
        Position: Manager <br>
        {% else %}
        Position: Staff <br>
        {% endif %}
      </div>
    </div>
    {% endfor %}
  </div>

  <div class="box">
    <div class="removeStaff">
      <b> Choose staff to remove </b>
      <form method="POST" action="/staffInfo">
        <select name="staffList" id="staffList">
          {% for i in range(length) %}
          <option value="{{email_list[i]}}"> {{first_name_list[i]}} {{last_name_list[i]}} </option>
          {% endfor %}
        </select>
        <input type="submit" value="Remove" class="submitBox">
      </form>
    </div>

    <div class="navigation">
      <ul>
        <li> <a href="{{ url_for('managerView') }}"> Main </a> </li>
        <li> <a href="{{ url_for('staffInfo') }}"> Staff Information </a> </li>
        <li> <a href="{{ url_for('shiftChange') }}"> Shift Change Requests </a> </li>

    </div>
  </div>
</body>

</html>